body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

#background-video {
	height: 100%;
	width: 100%;
	top: 0;
	padding: none;
	position: fixed;
	min-height: 100%;
	min-width: 100%;
	object-fit: cover;
	z-index: -100;
	}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
